<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>>Cadastro de Projetos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<div class="card-panel teal lighten-2"><H1 align="center">Sistema de Cadastro de Projetos e Tarefas</H1></div>

<div class="container">
    <div class="row">
        <H2 align="center">Cadastro de Projetos </H2>
        <div class="input-field col s3">
            <h3><a href="/cadastrarProjeto" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Projeto</a></h3>
            <h3><a href="/projetos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Projetos</a></h3>
            <h3><a href="/cadastrarTarefa" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Tarefa</a></h3>
            <h3><a href="/tarefas" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Tarefa</a></h3>
        </div>
        <div class="input-field col s9">

<form class="container" method="post">
    <div class="row">
        <div class="input-field col s6"> Nome: <input type="text" value="" name="titulo"></div>
        <div class="input-field col s3"> Data : <input type="date" value="" name="dataPrevisaoEntrega"></div>
        <div class="input-field col s3"></div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Salvar</button>
</form>

        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>