<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Alterar dados do Projeto</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="card-panel teal lighten-2"><H1 align="center">Sistema de Cadastro de Projetos e Tarefas</H1></div>
<div class="container">
    <H1 align="center">Visualizar dados do Projeto</H1>
    <div class="row">
        <div class="input-field col s3">
            <h3><a href="/cadastrarProjeto" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar
                Projeto</a></h3>
            <h3><a href="/projetos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista
                de Projetos</a></h3>
            <h3><a href="/cadastrarTarefa" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar
                Tarefa</a></h3>
            <h3><a href="/tarefas" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista
                de Tarefa</a></h3>
        </div>
        <div class="input-field col s9">

                <div class="row">
                    <div class="input-field col s6"> Nome: <input type="text" readonly="true" value="${projeto.titulo}" th:field="${projeto.titulo}" id="titulo" /></div>
                    <div class="input-field col s4"> Data : <input type="date" readonly="true" value="${projeto.dataPrevisaoEntrega}"
                                                                   th:field="${projeto.dataPrevisaoEntrega}"
                                                                   id="dataPrevisaoEntrega"></div>
                </div>

            <div class="container">
                <h6 align="center">Lista de Tarefas do Projeto</h6>
                <div class="row">
                    <div class="input-field col s12">
                        <table class="container">
                            <tr>
                                <th>Código</th>
                                <th>Titulo</th>
                            </tr>
                            <tbody>
                            <tr th:each="tarefa : ${tarefasDoProjeto}">
                                <td><span th:text="${tarefa.id}"></span></td>
                                <td><span th:text="${tarefa.titulo}"></span></td>

                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>